*{
    margin: 0;
    max-width: 100%;
    max-height: 100%;
}

header{
    margin: 0;
    height:7vh;
    /* background-color: #43bccd; */
    background-color: #3E497A;
    font-family: 'Sacramento', cursive;
    text-align: center;
}

main{
    margin: 0;
    height: 93vh;
    /* background-color: #8ED7E1; */
    background-color: #EDF5FC;
    /* position: relative; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

canvas{
    background-color: white;
    /* position: absolute; */
    height: 93%;
    width: 98%;
    /* left: 0;
    right: 0;
    top: 0;
    bottom: 0; */
    margin-top: 3vh;
    /* inset: 0; */
    border-radius: 10px;

}

.tools{
    flex-basis: 250px;
    /* background-color: #EDF5FC; */
    background-color: #ffffff;
    box-sizing: border-box;
    height: 93%;
    border-radius: 10px;
    margin-top: 3vh;
    padding: 20px;
    margin-left: 20px;
    text-align: center;
}

.tools h1{
    font-family: 'Sigmar', cursive;
    letter-spacing: 1.8px;
    font-size: 2em;
}

.btn-icon{
    margin: 6vh;
    height: 80px;
    width: 100px;
    border-style: none;
    border-radius: 4px;
    font-style: inherit;
    font-family: monospace;
    color: rgb(87, 87, 87);
    background-color: white;
    cursor: pointer;
}

.btn-icon:hover {
    cursor: pointer;
    background-color: #EDF5FC;
    transition: .4s;
}

.draw-area{
    flex-basis: 80%;
    padding: 1vh 1vw;
    padding-right: 0;
}

.heading{
    position: relative;
    top: 0.7vh;
}

.heading a{
    text-decoration: none;
    font-weight: 1000;
    color: white;
    font-size: 2rem;
}

.save {
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding: 0;
    inset: 0;
    margin-top: 86vh;
    margin-left: 94vw;
    border-style: none;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.2s ease-out;
}

.save img{
    height: 26px;
    width: 26px;
}

.save:hover{
    cursor: pointer;
    background-color: #EDF5FC;
}

