*{
    margin: 0;
    max-width: 100%;
    max-height: 100%;
}

header{
    margin: 0;
    height:7vh;
    /* background-color: #43bccd; */
    background-color: #3E497A;
    /* font-family: 'Sacramento', cursive; */
    font-family: monospace;
    text-align: center;
}

main{
    margin: 0;
    height: 93vh;
    /* background-color: #8ED7E1; */
    background-color: #EDF5FC;
    /* position: relative; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

canvas{
    background-color: white;
    /* position: absolute; */
    height: 93%;
    width: 98%;
    /* left: 0;
    right: 0;
    top: 0;
    bottom: 0; */
    margin-top: 3vh;
    /* inset: 0; */
    border-radius: 10px;

}

canvas:hover{
    cursor: crosshair;
}

ul{
    padding-left: 0;
}


.tools-board{
    flex-basis: 250px;
    /* background-color: #EDF5FC; */
    background-color: #ffffff;
    box-sizing: border-box;
    height: 93%;
    border-radius: 10px;
    margin-top: 3vh;
    padding: 20px;
    margin-left: 20px;
    text-align: center;
}

.tools-board h1{
    font-family: 'Sigmar', cursive;
    letter-spacing: 1.8px;
    font-size: 2em;
    margin-bottom: 5vh;
}

.tools-board .row{
    margin-bottom: 20px;
}

.row .title{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.row .options{
    list-style: none;
    margin: 10px 0 0 5px ;
}

.row .options .option{
    display: flex;
    cursor: pointer;
    align-items: center;
    margin-bottom: 10px;
}

.option:is(:hover, .active) img{
    filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg) brightness(100%) contrast(100%);
}

.options :where(span, label){
    columns: #5A6168;
    cursor: pointer;
    padding-left: 10px;
}

.option:is(:hover, .active) :where(span, label){
    color: #3E497A;
}

.option #fill-color{
    cursor: pointer;
    height: 14px;
    width: 14px;
}

#fill-color:checked ~ label{
    color: #3E497A;;
}

.option #size-slider{
    width: 100%;
    height: 5px;
    margin-top: 10px;
}

.colors{
    margin-top: 2em;
}

.colors .options{
    display: flex;
    justify-content: space-between;
}

.colors .option{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-top: 3px;
    position: relative;
}

.colors .option:nth-child(1) {
    background-color: #fff;
    border: 1px solid #bfbfbf;
}

.colors .option:nth-child(2) {
    background-color: #000;
}

.colors .option:nth-child(3) {
    background-color: #E02020;
}

.colors .option:nth-child(4) {
    background-color: #6DD400;
}

.colors .option:nth-child(5) {
    background-color: #4A98F7;
}

.colors .option.selected::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    height: 12px;
    width: 12px;
    background: inherit;
    border-radius: inherit;
    border: 2px solid #fff;
    transform: translate(-50%, -50%);
}

.colors .option:first-child.selected::before {
    border-color: #ccc;
}

.option #color-picker {
    opacity: 0;
    cursor: pointer;
}

.buttons{
    margin-top: 3em;
}

.clear-canvas:hover{
    background-color: #3E497A;
    color: white;
    border-radius: 4px;
    border: none;
    padding: 11px 0;
    font-size: 0.9rem;
    margin-bottom: 13px;
    font-family: 'Montserrat', sans-serif;
    transition: 0.3s;
}

.buttons button {
    width: 100%;
    /* border: none; */
    border-color: #3E497A;
    outline: none;
    padding: 11px 0;
    font-size: 0.9rem;
    margin-bottom: 13px;
    background: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.btn-icon{
    margin: 6vh;
    height: 80px;
    width: 100px;
    border-style: none;
    border-radius: 4px;
    font-style: inherit;
    font-family: monospace;
    color: rgb(87, 87, 87);
    background-color: white;
    cursor: pointer;
}

.btn-icon:hover {
    cursor: pointer;
    background-color: #EDF5FC;
    transition: .4s;
}

.draw-area{
    flex-basis: 80%;
    padding: 1vh 1vw;
    padding-right: 0;
}

.heading{
    position: relative;
    top: 0.7vh;
}

.heading p{
    text-decoration: none;
    font-weight: 1000;
    color: white;
    font-size: 2rem;
}

.save {
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding: 0;
    inset: 0;
    margin-top: 86vh;
    margin-left: 94vw;
    border-style: none;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.2s ease-out;
}

.save img{
    height: 26px;
    width: 26px;
}

.save:hover{
    cursor: pointer;
    background-color: #EDF5FC;
}

